<footer class="footer">
  <small>
    <a href="http://supersonicdisaster.tumblr.com/">Supersonic Disaster</a>
    by Aran Gillmore
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.facebook.com/7evenvideos">7evenvideos</a></li>
    </ul>
  </nav>
</footer>
